:root {
    --color-background: #1a2456;
    --color-navbar:  #222831;
    --color-section: #f0efed;
  }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-----------------------NAVBAR-------------------------------------*/
.navbar {
    background-color: var(--color-navbar);
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .3), 0 4px 8px -1px rgba(0, 0, 0, .06);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
}

.brand-p{
    font-size: 30px;
    color: #fff;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-item .nav-link {
    color: #fff;
}

.nav-item .nav-link:hover {
    color: rgb(154, 154, 154);
}

.nav-item i {
    font-size: 1.5rem;
    color: #aeaeae;
}

.nav-item i:hover {
    color: #6d6d6d;
}

.navbar-toggler-icon {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

.nav-link {
    display: inline-block;
	position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-logo {
    transition: all 1s;
}

.nav-logo:hover {
    transform: scale(1.3);
}


/*-----------------------HERO-------------------------------------*/

.hero {
    background-color: var(--color-section);
    min-height: 680px;
    text-align: center;
    margin: 0 auto;
}

.hero-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.img-hero{
    height: 200px;
    width: 200px;
    margin: 20px;
    object-fit: cover;
    border: 6px solid #000;
}

.hero-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-principal h1{
    font-family: 'Abril Fatface', cursive;
}



/*-----------------------ABOUT ME-------------------------------------*/

.section-dark{
    background-color: var(--color-background);
    color: white;
}

.about-me{
    min-height: 500px;
    padding: 10px;
}

.about-me .contenedor{
    max-width: 600px;
    text-align: center;
}

.section-title{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Abril Fatface', cursive;
}

.section-text{
    font-size: 1.2rem;
}

.about-info {
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    padding: 5px 10px;
}

/*-----------------------PROYECTOS-------------------------------------*/


.proyectos-recientes {
    padding: 40px;
    background-color: var(--color-section);
}

.proyectos-recientes img{
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 13px 13px 0 0;
    margin-bottom: 10px;
}

.proyecto:hover{
    transform: scale(1.03);
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.proyecto {
    border-radius: 15px;
    background-color:aliceblue;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, .3), 0 4px 8px -1px rgba(0, 0, 0, .06);
    transition: transform 0.5s;
}

.proyecto-about {
    word-wrap: break-word;
    min-height: 210px;
    width: 100%;
}

.overlay i {
    color: black;
    font-size: 50px;
    margin: 10px;
}

.iconos-tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.fa-brands {
    font-size: 25px;
    padding-left: 3px;
}

.bx {
    font-size: 30px;
}

.tw {
    position: relative;
    bottom: -3px;
}

.fa-brands:hover, .bx:hover{
    transform: scale(1.2);
}

.proyecto-about p {
    font-size: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.proyecto-about b {
    font-size: 20px;
}

.iconos-contenedor i {
    color: #2e2e64;
    font-size: 40px;
    margin: 10px;
    transition: all 0.2s ease;
}

.iconos-contenedor .bi:hover {
    color: #5c5ca0;
}

.iconos-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


/*-----------------------TECNOLOGIAS-------------------------------------*/

.tecnologias {
    padding: 40px 40px 100px 40px;
    margin-bottom: -1px;
}

.tecnologias .section-title{
    padding-bottom: 100px;
}

.contenedor-logo-skill {
    height: 120px;
    width: auto;
    margin-bottom: 50px;
    transition: all 1s;
    margin: 0 auto;
}

.contenedor-logo-skill:hover {
    transform: scale(1.2);
}

.contenedor-skill:hover {
    transform: scale(1.05);
}

.texto-tecnologia {
    padding-left: 10px;
    margin: 0;
}

.tecnologias-logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

/*-----------------------FOOTER-------------------------------------*/

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 3px;
}

.iconos-redes a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i {
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover {
    background-color: #fff;
    border: 2px solid rgb(13,110,253);
}

.iconos-redes a:hover i{
    color: #000;
}

.autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*---------------------------------------------------------*/

@media screen and (max-width: 1000px){
    .tecnologias-logo-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contenedor-logo-skill img{
        width: 150px;
        height: 100px;
        object-fit: contain;
    }

    .hero {
        padding-top: 50px;
    }
}


@media screen and (max-width: 767px){

    .navbar-brand {
        display: none;
    }

    .proyectos-recientes {
        padding: 15px;
    }

    .proyectos-contenedor {
        padding-top: 20px;
    }

    .proyecto {
        margin-bottom: 15px;
    }

    .proyecto img {
        object-fit:cover;
    }

    .tecnologias .section-title{
        padding-bottom: 50px;
    }

    .hero-img {
        flex-direction: column;
    }

    .section-text {
        text-align: center;
    }

    .nav-logo {
        gap: 15px;
    }

    .about-me {
        padding: 50px 10px;
    }

    .about-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tecnologias-logo-container {
        grid-template-columns: 50% 50%;
        width: 90%;
    }

    .contenedor-logo-skill img{
        width: auto;
        height: 100px;
        object-fit: contain;
    }

}

@media screen and (min-width: 700px){
    .hero-inferior-imagen {
        width: 600px;
    }
}

@media screen and (max-width: 400px){
    .overlay p{
        font-size: 15px;
    }

    .overlay i {
        font-size: 40px;
    }

    .contenedor-logo-skill img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

